<div class="body">

    <h1 mat-card-title class="main-title"> Hyperion Solar</h1>
    <br>
    <header class="ms-header">
        <h1 class="ms-header__title">
            Benefícios de gerar sua própria energia solar:
            <div class="ms-slider" style="text-align: center">
                <ul class="ms-slider__words">
                    <li class="ms-slider__word">Energia limpa</li>
                    <li class="ms-slider__word">Valorização do imóvel</li>
                    <li class="ms-slider__word">Economia financeira</li>
                    <li class="ms-slider__word">Instalação rápida</li>
                    <li class="ms-slider__word">Energia limpa</li>
                </ul>
            </div>
        </h1>
    </header>

    <br><br>

    <div class="row servicos">
        <div class="div-servicos col">
            <mat-icon class="icon-servicos">home_work</mat-icon>
            <h3 class="title-card">Dimensionamento</h3>
            <h4 class="text-card">
                Fazemos o orçamento preliminar de acordo com seus requisitos,
                considerando a irradiação solar local, o consumo energético dos últimos doze
                meses e a tarifa da concessionaria.
            </h4>
        </div>

        <div class="div-servicos col">
            <mat-icon class="icon-servicos">receipt_long</mat-icon>
            <h3 class="title-card">Projeto</h3>
            <h4 class="text-card">
                Elaboramos o projeto de engenharia e solicitamos o acesso à rede de energia junto a concessionária.
            </h4>
        </div>

        <div class="div-servicos col">
            <mat-icon class="icon-servicos">handyman</mat-icon>
            <h3 class="title-card">Instalação</h3>
            <h4 class="text-card">
                Residência, comércio, indústria e agronegócio.
            </h4>
        </div>
    </div>
    <br>
</div>
<section class="quem-somos">
    <h3 class="subtitle">Quem Somos</h3>

    <h2>A HYPERION SOLAR é uma empresa especializada em sistemas de geração de energia fotovoltaica
    ajudando seus clientes e parceiros a se tornarem seus próprios produtores de energia elétrica
     e se livrarem de taxas abusivas, das surpresas de bandeiras tarifárias e da inflação energética.</h2>

    <br><br><br>

    <h2>
        <strong>Auxiliando</strong> seus clientes e parceiros a se tornarem seus <strong>próprios produtores de energia
        elétrica!</strong>
    </h2>
</section>

<section class="clientes">

</section>