<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark menu">-->
<!--    <a class="navbar-brand" href="#"><img class="logo" alt="logo-menu" src="assets/logo-hyperion.png"></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link amenu" href="#">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link amenu" href="#">Quem Somos</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link amenu" href="#">Benefícios</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link amenu" href="#">Soluções</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link amenu" href="#">Orçamento</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="spacer"></span>
    <a class="navbar-brand" href="#"><img class="logo" alt="logo-menu" src="assets/logo-hyperion.png"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="spacer"></span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link amenu" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link amenu" href="#">Quem Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link amenu" href="#">Benefícios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link amenu" href="#">Soluções</a>
            </li>
            <li class="nav-item">
                <a class="nav-link amenu" href="#">Orçamento</a>
            </li>
        </ul>
    </div>
</nav>